# Environment / secrets
.env
.env.*
*.pem
*.key

# Django
db.sqlite3
staticfiles/
media/
celerybeat-schedule

# Python
__pycache__/
*.pyc

# Virtual environments
venv/
env/
myvenv/
.venv/

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Django local settings
local_settings.py